html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('assets/parrot.gif');
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-image: none;
    padding: 15px;
    border-radius: 7px;
}

.image {
    max-width: 20vw;
}

.rainbow {
    text-align: center;
    font-size: 48px;
    font-family: "Brush Script MT";
    padding: 10px;
    margin: 0px;
}

.rainbow-text-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow-animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.celebration {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fireworks {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}