html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('parrot.gif');
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-image: none;
    padding: 15px;
    border-radius: 7px;
}

.image {
    height: 20em;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: 5px;
}
.rainbow-text-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow-animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow-animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}